appdirs==1.4.4
attrs
Automat
bcrypt
beautifulsoup4
Bottleneck
brotlipy==0.7.0
certifi==2020.6.20
cffi
charset-normalizer 
click
colorama
constantly==15.1.0
cryptography
cssselect==1.1.0
cycler
docopt==0.6.2
filelock
fonttools==4.25.0
goatools==1.2.3
huggingface-hub==0.5.1
hyperlink
idna
igraph==0.9.10
importlib-metadata
incremental
itemadapter
itemloaders
jmespath
joblib
kiwisolver
lxml
matplotlib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munkres==1.1.4
numexpr
numpy
packaging
pandas==1.4.2
parsel
patsy==0.5.2
Pillow==9.0.1
Protego
protobuf==3.19.1
pyasn1
pyasn1-modules==0.2.8
pycparser
PyDispatcher==2.0.5
pydot==1.4.2
PyHamcrest
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-igraph==0.9.10
pytz==2021.3
PyYAML==6.0
queuelib==1.5.0
regex
requests
requests-file
sacremoses==0.0.43
scikit-learn
scipy
Scrapy
seaborn
service-identity
six
soupsieve
statsmodels==0.13.2
texttable==1.6.4
threadpoolctl
tldextract
tokenizers
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado
tqdm
transformers==4.11.3
Twisted
typing_extensions
urllib3
w3lib
xlrd==1.2.0
XlsxWriter==3.0.3
zipp
zope.interface
